version: 2.1

defaults: &default-steps
  steps:
    - checkout
    - restore_cache:
        keys:
          - v2-dependencies-{{ checksum "project.clj" }}
          - v2-dependencies-
    - run:
        name: Install make
        command: |
          sudo apt-get install make
    - run:
        name: Running Eastwood
        command: |
          make eastwood
    - run:
        name: Running cljfmt
        command: |
          make cljfmt
    - run:
        name: Test Clojure 1.8
        command: make test
        environment:
          VERSION: "1.8"
    - run:
        name: Test Clojure 1.9
        command: make test
        environment:
          VERSION: "1.9"
    - run:
        name: Test Clojure 1.10
        command: make test
        environment:
          VERSION: "1.10"
    - run:
        name: Test Clojure master
        command: make test
        environment:
          VERSION: "master"
    - run:
        name: Running cloverage
        command: |
          make cloverage
    - save_cache:
        paths:
          - ~/.m2
        key: v2-dependencies-{{ checksum "project.clj" }}

jobs:
  test-jdk11:
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.0
    working_directory: ~/repo
    environment:
      LEIN_ROOT: "true"
      JVM_OPTS: -Xmx3200m
    <<: *default-steps
  test-jdk8:
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.0
    working_directory: ~/repo
    environment:
      LEIN_ROOT: "true"
      JVM_OPTS: -Xmx3200m
    <<: *default-steps

workflows:
  build_and_test:
    jobs:
      - test-jdk8
      - test-jdk11
